<h1>Veuillez confirmer votre email</h1>

<p>
   Veuillez vérifier votre adresse email en cliquant sur le lien envoyé <br><br>
    <a href="{{ signedUrl }}">Confirmer votre email</a>.
    Ce lien expira dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Merci!
</p>
