{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="jumbotron">
  <h9 class="display-5">Bienvenu sur notre blog spécialisé dans l'univers de la mode</h9>
  <p class="lead"></p>
  <hr class="my-4">
  <p>Découvrez en avant première les défilée de mode ainsi que des exclusivités</p>
</div>
{% endblock %}
